@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 217 24% 7%;
        --foreground: 217 24% 100%;
        --card: 225 6% 13%;

        --muted: 240 7% 11%;
        --muted-foreground: 210 2% 64%;

        --accent: 64 67% 52%;
        --accent-foreground: 64 67% 0%;

        /* --destructive: 0 62.8% 30.6%; */
        /* --destructive-foreground: 0 0% 98%; */

        --border: 225 7% 21%;
    }

    * {
        border-color: hsl(var(--border));
    }

    body {
        @apply bg-background text-foreground;
    }

    input:focus,
    textarea:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: hsl(var(--accent));
    }
}

@layer utilities {
    .remove-increment input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .remove-increment input[type="number"] {
        -moz-appearance: textfield;
    }
}

@layer components {
    .input {
        @apply px-2 py-1 bg-muted border rounded remove-increment;
    }

    .textarea {
        @apply p-2 bg-muted border rounded;
    }

    .accent-button {
        @apply h-9 px-4 rounded text-accent-foreground font-medium bg-accent hover:bg-accent/80 transition-colors duration-100;
    }
}
